<html>
	<head>
		<title>Name Form</title>
		<form method="POST" action="/">
			Your Name:<br>
			<input type="text" name="name">
			<br>
			<input type="submit" value="Submit">
		</form> 
	</head>
	<body>
		
	</body>
</html>